# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# macOS
*.DS_Store

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Ignore migrations
**/migrations/**

# Ignore .env files containing credentials
.env

# Ignore secret key file
secret_key.txt

